@import "tailwindcss";

@theme {
  --color-hover: var(--color-lime-700);
  --color-active: var(--color-lime-600);
  --color-inactive: var(--color-neutral-500);
}

@layer base {
  body {
    @apply bg-emerald-100 text-neutral-950;
  }
}
